:root {
    --background-in-light-mode: aliceblue;
    --background-in-dark-mode:  #1E272E;
    --color-in-light-mode: #1E272E;
    --color-in-dark-mode: aliceblue;
    --icon-in-light-mode: #1E272E;
    --icon-in-dark-mode: aliceblue;
}

body {
    background-color: var(--background-in-light-mode);
    color: var(--color-in-light-mode);
}

/* all ....*/
.dark-mode {
    background-color: var(--background-in-dark-mode);
    color: rgb(241, 242, 246);
}


footer {
    text-align: right;
    background-color: var(--background-in-light-mode);
    color: #1E272E;
    padding: 10px;
    font-size: larger;
    margin: 10px;
    border: 1px solid #C7C8C9;
    border-radius: 20px;
}

.dark-mode footer {
    background-color: #1E272E;
    border: 1px solid aliceblue;
}

.a-for-footer {
    text-decoration: none;
    padding: 40px;
    color: var(--color-in-light-mode);
}

.dark-mode .a-for-footer {
    color: var(--color-in-dark-mode);
}

@media(max-width:768px) {
    .a-for-footer {
        padding: 20px;
    }
}

