:root {
     --h4-background: #d65a8f;
}



.head {
     font-family: 'Quicksand', sans-serif;
     background-color: #000000;
     color: aliceblue;
     font-size: 25px;
}

h4 {
     text-align: center;
     padding: 15px;
     font-size: 2rem;
}

.meImg {
     border-radius: 5%;
}

#app{
     font-size: 50px;
     font-family: 'Lobster', cursive;
}

.typeText {
     color: #d65a8f;
}

.typeCursor {
     color: aliceblue;
}

.heading {
     color: #d65a8f;
     font-size: 30px;
}

.container {
     text-align: center;
     margin: 50px;
}

#mdo {
     background-color: var(--h4-background);
     
}

#one {
     background-color: var(--h4-background);
}

#two {
     background-color: var(--h4-background);
}

#three {
     background-color: var(--h4-background);
}

img {
     display: block;
     margin: 0 auto;
     margin-bottom: 50px;
}

#info {
     text-align: start;
}

#icon {
     font-size: 40px;
}

#my-project {
     border-radius: 10px;
     
}

.nav-link {
     color: #d65a8f;
     font-size: 20px;
}

.nav-link:hover {
     color: aliceblue;
}



.btn-primary {
     color: #000000 !important;
     background-color: #d65a8f !important;
     border: 1px solid aliceblue !important;
     padding: 15px !important;
     color: aliceblue !important;
     font-size: 20px !important;
     transition: transform 1s ease !important; 
}

.btn-primary:hover {
     transform: scale(1.2);
}

.dropdown-toggle {
     background-color: #d65a8f !important;
     color: aliceblue !important;
     border: 1px solid aliceblue !important;
     font-size: 20px;
}

.dropdown-menu {
     background-color: #343a40 !important;   
}

.dropdown-item {
     color: #d65a8f !important;
     font-size: 20px;
}

.dropdown-divider {
     background-color: var(--h4-background);
     color: aliceblue;
}

.contact {
     background-color: var(--h4-background) !important;
     color: aliceblue !important;
}

.card-text {
     color: #000000;
}

.card-title {
     color: #000000;
}

li {
     text-align: start;
}

.journey {
     color: aliceblue;
     margin-bottom: 50px;
     font-size: 20px;
}

.list-group-item {
     display: inline !important;
     list-style-type: lower-roman !important;
     background-color: #000000 !important;
     border: 1px solid aliceblue !important;
}


 .skill {
     font-size: 20px;
 }

 .schools {
     color: aliceblue;
     text-decoration: underline;
 }

 .title {
     opacity: 0.6;
 }

@media (max-width:573px) {
     .head {
          font-size: 20px;
     }

     .nav-link {
          font-size: 18px;
     }

     .dropdown-toggle {
          font-size: 18px;
     }

     .dropdown-item {
          font-size: 18px;
     }

     .skill {
          font-size: 15px;
          display: none;
      }

      img {
          display: block;
          margin: 0 auto;
          margin-top: 50px;
     }

     #my-project {
          display: none;
     }


     
     
}